.fields-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons-container{
    display: flex;
    flex-direction:column;
    gap: 16px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}