.menu-option {
    min-width: 100%;
    display: flex;
    color: var(--nav-text-color);
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-option:hover {
    background-color: #35414D;
    color: #FFF;
}

.menu-option > .menu-option-icon {
    margin: 0px 10px;
    font-size: 20px;
    transition: font-size 0.3s ease;
}

.menu-option-text {
    font-size: 14px;
    max-width: 200px;
    max-height: 200px;
    opacity: 1;
    visibility: visible;
    white-space: wrap;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, max-width 0.3s ease, max-height 0.6s ease-in, white-space 0.3s ease;
    margin: 0;
}

.menu-option.toggled {
    padding: 10px;
}

.menu-option.toggled > .menu-option-icon {
    font-size: 28px;
    padding: 10px;
}

.menu-option.toggled > .menu-option-text {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}