.container-vendas{
    width: 100%;
}

.header-vendas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-vendas{
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
}

.buttons-container-vendas{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 7px;
}

.buttons-container-vendas button{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    border:none
}
.buttons-container-vendas button:first-child{
    background-color: var(--button-color);
}

.buttons-container-vendas button:first-child:hover{
    background-color: var(--button-color-hover);
}

.buttons-container-vendas button{
    background-color: #6B6B6B;
}

.buttons-container-vendas button:hover{
    background-color: #585858;
}

.buttons-container-vendas button svg{
    align-self: center;
}


